body {
  padding: 16px;
  display: grid;
  place-items: center;
  height: 100vh;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1400px;
}

header {
  margin: 50px 0 41px;
}

.calculator {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-white);
  padding: 32px;
  max-width: 984px;
  border-radius: var(--br-25);
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
}

.input-container {
  position: relative;
}

.input-icon {
  color: var(--clr-input-icon);
  position: absolute;
  top: 46px;
  left: 19.3px;
}

.input-container.select-tip h2 {
  margin-bottom: 16px;
}

.btn-percent,
.input-custom {
  font-size: 1.5rem;
  width: 100%;
  padding: 0.42em;
  margin-bottom: 16px;
}

.select-tip button:nth-child(even) {
  margin-right: 7px;
}

.input-custom::placeholder {
  text-align: center;
}

.num-people-err {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.err-msg {
  color: var(--clr-err);
  opacity: 0;
}

.err-outline {
  outline: none;
  border: 2px solid var(--clr-err);
}

.show-err {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.output-container {
  background-color: var(--clr-dark-green);
  width: 100%;
  padding: 37px 24px 24px;
  border-radius: var(--br-15);
}

.total-output {
  margin: 20px 0 32px 0;
}

.total-output,
.amount-output {
  display: flex;
  justify-content: space-between;
}

.output-number {
  font-size: 2rem;
  letter-spacing: -0.666667px;
}

.btn-reset {
  background-color: var(--clr-reset-bg);
  color: var(--clr-dark-green);
  mix-blend-mode: normal;
  opacity: 0.6;
  font-size: 1.25rem;
  text-transform: uppercase;
  width: 100%;
  padding: 0.45em 0;
}

.active {
  background-color: var(--clr-strong-cyan);
  color: var(--clr-dark-green);
}
